@model WardrobeMVC_Week6.Bottom

@{
    ViewBag.Title = "Details";
}

<h2>Shorts And Such</h2>

<div class="cards container-fluid">
    <div class="row">
        <div class="col-xs-6">
            <p class="detail-photo"><img src="@Url.Content(Model.BottomsPhoto)" /></p>
            <h4>@Html.DisplayNameFor(model => model.BottomsName): @Html.DisplayFor(model => model.BottomsName)</h4>
            <h4>@Html.DisplayNameFor(model => model.BottomsSeason): @Html.DisplayFor(model => model.BottomsSeason)</h4>
            <p>@Html.DisplayNameFor(model => model.BottomsType): @Html.DisplayFor(model => model.BottomsType)</p>
            <p>@Html.DisplayNameFor(model => model.BottomsColor): @Html.DisplayFor(model => model.BottomsColor)</p>
            <p>@Html.DisplayNameFor(model => model.BottomsOccasion): @Html.DisplayFor(model => model.BottomsOccasion)</p>
        </div>
    </div>
</div>


@*<div>
    <h4>Bottom</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BottomsName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BottomsName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BottomsType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BottomsType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BottomsColor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BottomsColor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BottomsSeason)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BottomsSeason)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BottomsOccasion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BottomsOccasion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BottomsPhoto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BottomsPhoto)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BottomsID }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@
